extends ../layout.pug

block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='/offers/add')
            span Новая публикация
        ul
          each ticket in ticketList
            li.tickets-list__item.js-card
              .ticket-card(class=`ticket-card--color` + ticket.id)
                .ticket-card__img
                  img(src=ticket.img.small, srcset=ticket.img.big, alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label=ticket.label
                  .ticket-card__categories
                    each category in ticket.categories
                      a(href='/offers/category/1')=category
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='/offers/1')=ticket.title
                    p.ticket-card__price
                      span.js-sum=ticket.price
                      |  ₽
                button.ticket-card__del.js-delete(type='button') Удалить
